<div class="proyectos bordes estilos">
  <h1 style="margin-left: 5px">Proyectos</h1>
  <div class="contenedorAgregarProyectos estiloContenedor">
    <button title="botonPlus" class="boton">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-plus"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    </button>
  </div>
  <ul class="lista-proyectos">
    <li *ngFor="let proyecto of proyectoList">
      <div class="Proyecto" id="borrar-proyecto">
        <div class="contenedorBotonesPortfolio estiloContenedor">
          <button
            title="editar"
            class="boton"
            onclick="cambiar_parrafo(['edit-tituloProyecto, edit-programaProyecto, edit-periodoProyecto, edit-descripcionProyecto'], ['texto-edit-tituloProyecto', 'texto-programaProyecto', 'texto-periodoProyecto', 'texto-descripcionProyecto'])"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-edit"
            >
              <path
                d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
              ></path>
              <path
                d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
              ></path>
            </svg>
          </button>
          <button
            title="eliminar"
            class="boton boton"
            onclick="borrar_parrafo('borrar-proyectos')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
        <h5 id="texto-tituloProyecto" style="margin-left: 80px">
          {{ proyecto.titulo }}
            </h5>
        <div>
          <input
            id="edit-tituloProyecto"
            type="text"
            oninput="myFunction(this.value, 'texto-tituloProyecto')"
            style="display: none"
          />
        </div>
        <h6 id="texto-programaProyecto" style="margin-left: 80px">
          {{proyecto.institucion}}
        </h6>
        <div>
          <input
            id="edit-programaProyecto"
            type="text"
            oninput="myFunction(this.value, 'texto-programaProyecto')"
            style="display: none"
          />
        </div>
        <p
          id="texto-periodoProyecto"
          style="margin-left: 80px"
          class="fw-lighter"
        >
          {{proyecto.fecha}}
        </p>
        <div>
          <input
            id="edit-periodoProyecto"
            type="text"
            oninput="myFunction(this.value, 'texto-periodoProyecto')"
            style="display: none"
          />
        </div>
        <p id="texto-descripcionProyecto" style="margin-left: 80px">
          {{proyecto.descripcion}}
          <a
            href="https://github.com/NAyalaB/PortfolioFrontend.git"
            target="_blank"
            rel="noopener noreferrer"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-link-2"
            >
              <path
                d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"
              ></path>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
          </a>
        </p>
        <div>
          <input
            id="edit-descripcionProyecto"
            type="text"
            oninput="myFunction(this.value, 'texto-descripcionProyecto')"
            style="display: none"
          />
        </div>
        <img
          id="fotoProyecto"
          [src]="proyecto.fotoProyectoPortfolioWeb"
          alt="Proyecto Portfolio Web"
        />
      </div>
    </li>
  </ul>
</div>
